.navigation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    list-style-type: none;
    margin-top: 0;
    border-bottom: 1px solid #154eb7;
}

.navigation__item {
    margin: 5px 0;
}

.navigation__link {
    color: hsl(219, 79%, 40%);
    text-decoration: none;
    font-weight: bold;
}

.navigation__link:visited {
    color: hsl(219, 79%, 35%);
}

.navigation__link:focus {
    outline: 2px solid currentColor;
}

.navigation__link:hover {
    color: hsl(219, 79%, 45%);
    border-bottom: 1px solid;
    outline: none;
}

.navigation__link:active {
    color: hsl(219, 79%, 55%);
}